INITRAMFS_DATA_RESET_MARKER="${INITRAMFS_DATA_RESET_MARKER}"
INITRAMFS_DATA_RESET_MARKER_STORAGE_DEVICE="${INITRAMFS_DATA_RESET_MARKER_STORAGE_DEVICE}"
INITRAMFS_DATA_RESET_DEVICES="${INITRAMFS_DATA_RESET_DEVICES}"

