[Unit]
Description=SWUpdate daemon
Documentation=https://github.com/sbabic/swupdate

[Service]
Type=simple
ExecStart=/root/swupdate.sh

[Install]
WantedBy=multi-user.target
