#
# CIP Core, generic profile
#
# Copyright (c) Toshiba Corporation, 2020
#
# Authors:
#  Venkata Pyla <venkata.pyla@toshiba-tsip.com>
#
# SPDX-License-Identifier: MIT
#
header:
  version: 12

target: cip-core-image-security

local_conf_header:
  root_password: |
    USERS += "root"
    USER_root[password] = "Cipsecurity@123"
    USER_root[flags] = "clear-text-password"
  adjust-swupdate: |
    ABROOTFS_IMAGE_RECIPE = "cip-core-image-security"
    VERITY_IMAGE_RECIPE = "cip-core-image-security"
